.jobseeker-container {
  align-items: center;
  background: beige;
  display: flex;
  justify-content: center;
  padding: 4vw;
  height: 100vh;
}
.profile-container {
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 600px;
}
.color-theme {
  background: rgb(33, 37, 41);
  display: flex;
  align-items: center;
  padding: 20px;
}
.avatar-container {
  align-items: center;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  flex: 2;
  overflow: hidden;
  margin-right: 20px;
}
.avatar {
  width: 100%;
}
.name-field {
  color: white;
  flex: 8;
}
.field-text {
  font-size: 1.5rem;
}
.badge {
  padding: 0;
}
.badge p {
  display: inline-block;
  margin-left: 5px;
}
.contact-info {
  display: flex;
  padding: 20px;
}
.left-box {
  flex: 1;
}
.directories {
  display: flex;
  align-items: center;
}
.directory-image {
  margin-right: 15px;
}
.right-box {
  flex: 1;
}
.list-container {
  padding: 0;
}
.cta-button {
  display: block;
  margin: 20px 0;
  padding: 10px;
  width: 200px;
}
