.homepage {
  background: beige;
}
.btt {
  align-items: center;
  background: black;
  border-radius: 5px 0 0 5px;
  color: white;
  display: flex;
  float: right;
  height: 90px;
  justify-content: center;
  position: sticky;
  top: 900px;
  width: 50px;
}
