.homepage {
  background: beige;
}
.btt {
  background: black;
  border-radius: 5px 0 0 5px;
  color: white;
  display: flex;
  right: 0;
  height: 90px;
  justify-content: center;
  position: fixed;
  top: 500px;
  text-orientation: upright;
  writing-mode: vertical-lr;
  width: 30px;
}
