.container {
  display: flex;
}

.left-part {
  align-items: center;
  display: flex;
  justify-content: center;

  background-color: beige;
  width: 60vw;
  height: 95vh;
}
.right-part {
}

img {
  width: 50vw;
  height: 95vh;
}
