.talent-pool {
  align-items: center;
  background-image: url(/src/Assets/bg\ table.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
  color: white;
}
.table-container {
  display: grid;
  flex: 1;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  height: 700px;
  overflow: hidden;
  padding: 90px;
}

.internal-container {
  overflow-y: scroll;
}
.internal-container::-webkit-scrollbar {
  display: none;
}
.talent-banner-heading {
  background: #212529;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
}
.talent-container {
  align-items: center;
  background: #212529;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
}
.talent-img-container {
  border-radius: 5px;
  overflow: hidden;
}
.narrative {
  flex: 2;
  padding: 0 15px;
}
.card-item {
  padding: 0;
  margin: 0;
}
.view-profile {
  border: none;
  border-radius: 5px;
  padding: 10px;
}
@media (max-width: 1400px) {
  .talent-pool,
  .table-container {
    height: auto;
  }
}
@media (max-width: 550px) {
  .table-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 30px;
  }
}
@media (max-width: 435px) {
  .table-container {
    padding: 10px;
  }
  .talent-container {
    display: grid;
  }
  .talent-img-container {
    grid-area: 1/1/3/2;
  }
  .narrative {
    grid-area: 1/2/2/6;
    font-size: 12px;
  }
  .view-profile {
    grid-area: 2/2/3/6;
    padding: 5px;
  }
}
