.profile-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.your-prof{
  background-color: black;
  color: white;
  width: 72vw;
  margin-bottom: 0;
  text-align: center;
}
.profile-container{
  display: flex;
  margin: 0 120px auto 120px;
  flex-direction: row;
  justify-content: center;
  background-image: url("../../Assets/login bg.jpg");
  background-size: cover;
}
.first-section{
  display: flex;
  width: 20vw;
  height: 85vh;
  padding-top: 50px;
  border: solid black 2px;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.second-section{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 85vh;
  border: solid black 2px;
  align-items: center;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  padding-top: 50px;
}
.buttons-size{
  width: 140px;
}
.box-content{
  width: 45vw;
  height: 52vh;
  margin-top: 50px;
}
.img-profile{
  background-color: grey;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}