.contact-us-section {
  align-items: center;
  background: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  background: beige;
  height: 100vh;
  justify-content: center;
  padding: 4vw;
}
.form {
  background: white;
  /* background: url("../../Assets/message2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 5px;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 20px;
  width: 500px;
}
.suggestion {
  background: #212529;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.contact-input {
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
}
.contact-input:nth-child(5) {
  padding: 10px;
}

@media (max-width: 550px) {
  .contact-us-section {
    height: auto;
  }
  .form {
    width: auto;
  }
}
