.contact-us-section {
  background: beige;
  justify-content: center;
  padding: 4vw;
}
.form {
  background: url("../../Assets/message2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: 20px;
  width: 500px;
}
.suggestion {
  background: #212529;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}
.contact-input {
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
}
.contact-input:nth-child(5) {
  padding: 10px;
}
.contact-input:last-child {
  background: #212529;
  color: white;
  opacity: 100%;
}
.contact-input:last-child:hover {
  background: white;
  color: #212529;
}
@media (max-width: 550px) {
  .form {
    width: auto;
  }
}
