.navbar {
  padding: 10px 4vw;
}
.branding {
  width: 50px;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-link {
  margin-left: 60px;
  transition: all 0.3s;
}
.nav-link:hover {
  transform: scale(1.1);
}
.nav-item {
  align-items: center;
  display: flex;
}
.gear:hover {
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
