.err {
  display: flex;
  background: url("../../Assets/Err404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.err404 {
  color: white;
  font-family: "Gochi Hand", cursive;
  font-size: 180px;
  line-height: 140px;
  text-shadow: -5px 5px 5px black;
  width: 450px;
}
.left-quote,
.right-quote {
  display: flex;
  padding: 90px;
}
.left-quote {
  flex-direction: column;
  justify-content: space-around;
}
