.form-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.registration-form {
  background: teal;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.small-text {
  color: white;
  margin-left: 10px;
}
