.login-section {
  background-image: url(/src/Assets/login\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}
.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form-label {
  width: 100%;
  margin: 40px 0;
}
.login-form h1 {
  padding: 20px;
}
.login-form p {
  font-size: 1.2rem;
}
input {
  padding: 15px;
  width: 450px;
  border-radius: 5px;
  border: 2px solid #212529;
  opacity: 80%;
}
.bottom-area {
  display: flex;
  justify-content: space-between;
}
.login-btn {
  background: #212529;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  width: 90px;
  padding: 10px;
  transition: all 0.3s;
}
.login-btn:hover {
  background: white;
  color: black;
}
.register {
  align-items: center;
  color: black;
  display: flex;
  font-weight: 500;
}
.divider {
  background: #212529;
  width: 2px;
}
@media (max-width: 480px) {
  .bottom-area {
    align-items: center;
    flex-direction: column;
  }
  .login-form-label {
    margin: 20px 0;
  }
  .divider {
    display: none;
  }
  .register {
    margin-top: 20px;
  }
  input {
    width: 80vw;
  }
}
