.navigation-bar {
  align-items: center;
  background-color: black;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  padding: 0 180px;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}
.navigation-link-container:nth-child(2) {
  margin: 0 60px;
}
.links {
  color: white;
}

@media (max-width: 480px) {
  .navigation-bar {
    padding: 0 30px;
  }
  .navigation-container {
    width: auto;
  }
}
